.mensaje{
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.mensaje__lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.mensaje__item{
    max-width: 300px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: top 1rem left 1rem;
    padding: 2.5rem 0 2rem 5rem;
    background-size: cover;
}
.mensaje__logo{
    background-image: url('../img/konosuba.jpe');
    height: 50px;
    width: 50px;
}
.mensaje__item__titulo{
    color: blueviolet;
    font-family: montserrat;
    font-weight: 600;
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.mensaje__item__texto{
    font-family: montserrat;
    line-height: normal;
}
