.message {
  text-align: center;
  font-family: 'Montserrat';
  padding: 3rem;
  background-color: black;
    color: aliceblue;
}
@media screen and(min-width:0) {
  .message{
    padding: 2rem 1rem;
  }
}
@media screen and(min-width:750px) {
  .message{
    padding: 2rem;
  }
}