.producto_style{
    text-align: center;
    padding: 50px;
    width: 300px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 0 0 25px 25px;
    font-size: 20px;
    margin-bottom: 2rem;
    background-color: #016A70;
    align-items: start;    
}

