.menu{
  align-items: center;
  background-color: #ffffff;
  display: flex;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 15px;
  justify-content: space-between;
  flex-direction: row;
  margin-left: 5%;
  flex-wrap: wrap;
}