.menu{
  align-items: center;
  background-color: #ffffff;
  display: flex;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 15px;
  width: 80%;
  justify-content: space-between;
  position: relative;
  
  
}